body
{
	background-color: #555555;
	font-family: verdana;
}
.main
{
	background-color: #ffffff;
	margin: 0 auto;
	position: relative;
}
header
{
	color: #ffffff;
}
h1, h3
{
	margin: 0 auto;
	margin-left: 9%;
	letter-spacing: -2.5px; /*espacio entre letras*/
}
h3
{
	opacity: 0.5;
	letter-spacing: -1.5px;
}
#menu
{
	display: flex;
	/*márgenes de izquierda y derecha del menú*/
	margin-left: 9%;       
	margin-right: 12%;
}
#menu1
{
	width: 80%;
	background: rgb(255,128,0);
	background: linear-gradient(180deg, rgba(255,128,0,1) 0%, rgba(255,165,34,1) 82%);
}
#menu2
{
	width: 20%;
	background: rgb(255,128,0);
	background: linear-gradient(180deg, rgba(255,128,0,1) 0%, rgba(255,165,34,1) 82%);
}
#menuContenido1
{
	display: flex; /* */
	width: 100%;
	justify-content: space-around;
	padding: 0px;	
}
#menuContenido
{
	font-weight: bold;
	color: #ffffff; /* color de las letras*/
	text-decoration: none; /* decoración del texto*/
	list-style: none; /* estilo de la lista */
}
#contenidoPrincipal
{
	display: flex;
	margin-left: 9%;       
	margin-right: 12%;
	background-color: white;
}
#contenido1
{
	background-color: white;
	width: 80%;
}
#contenido2
{
	background-color: white;
	border-left: 1px solid #CDCDCD;
	height: 95%;
	width: 20%;
}
#Imagen
{
	margin-left: 10px;
	width: 79%;
}
#Contenido 
{
	list-style: none;
	width: 100%;
	color: #ff8000;
	margin: 3px;
	margin-left: 1px;
	font-weight: 500;
}
#titulo
{
	margin-left: 10px;
	letter-spacing: -3px; /*espacio entre letras*/
	color: #ff7e00;
	text-decoration: underline;
}
#texto
{
	margin-left: 10px;
	margin-right: 20px;
	text-align: justify;
}
#titulos
{
	margin-left: 10px;
	color: #555555;
}
#PiePagina
{
	text-align: center;
	color: white;
}
#enlaces
{
	color: #ff8000;
	text-decoration: underline;	
}